.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 250px;
}

.book-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.book-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.book-card h2:hover{
    color: red;
}
.book-card p {
  font-size: 14px;
  color: #3b3b3b;
  margin-bottom: 10px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(58, 32, 255, 0.1);
}

.app h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
